/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#SidePane {
    -fx-background-color: #B2DFDB;
}

#send {
    -fx-background-image: url(../../resources/send.png);
    -fx-background-size: 100%;
}

#file {
    -fx-background-image: url(../../resources/Documents-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#file:hover {
    -fx-background-image: url(../../resources/Documents-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #B2DFDB;
}

#file:pressed {
    -fx-background-image: url(../../resources/Documents-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #0099cc;
}

#clear {
    -fx-background-image: url(../../resources/cleanmaster.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#clear:hover {
    -fx-background-image: url(../../resources/cleanmaster.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #B2DFDB;
}

#clear:pressed {
    -fx-background-image: url(../../resources/cleanmaster.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #0099cc;
}

#call {
    -fx-background-image: url(../../resources/voice-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#call:hover {
    -fx-background-image: url(../../resources/voice-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #B2DFDB;
}

#call:pressed {
    -fx-background-image: url(../../resources/voice-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #0099cc;
}

#imagesend {
    -fx-background-image: url(../../resources/pictures-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#imagesend:hover {
    -fx-background-image: url(../../resources/pictures-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #B2DFDB;
}

#imagesend:pressed {
    -fx-background-image: url(../../resources/pictures-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #0099cc;
}

#request {
    -fx-background-image: url(../../resources/users-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#request:hover {
    -fx-background-image: url(../../resources/users-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #B2DFDB;
}

#request:pressed {
    -fx-background-image: url(../../resources/users-icon.png);
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #0099cc;
}


#scrollable > .viewport {
    -fx-background-image: url(../../resources/chatback.jpg);
    -fx-background-color: rgba(0,0,0,0.5);
}

#sendbox {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}